

  <thead>
    <tr>
      <th scope="col">Gare</th>
      <th scope="col">Lignes</th>
      <th scope="col">Correspondance</th>
      <th scope="col">Terminus</th>
    </tr>
  </thead>
  <tbody>
   {% for gare in infos %}

   <tr class="table-lignt">
      <th scope="row">{{ gare["gare"].gareId}}</th>
      <td>  
        <img src="{{ asset('images/'~gare["gare"].ligne~'.PNG') }}" height="30" width="30" />
      </td>

      <td>
      {% for ligne in gare["lignes"] %}
      {% if ligne.ligne != "" %}
      <img src="{{ asset('images/'~ligne.ligne~'.PNG') }}" height="30" width="30" /> 
      {% endif %}
      {% endfor %}
      </td>

     
      <td>
      {% set check = false %}
      {% for ligne in gare["lignes"] %}
      {% if ligne.terminus == true and check == false %}
      {% set check = true %}  
      <img src="{{ asset('images/'~gare["gare"].ligne~'.PNG') }}" height="30" width="30" /> 
       {% endif %}
      {% endfor %}
      </td>

    </tr>
   {% endfor %}
  
   
  </tbody>

